<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="0" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">西客站信息共享服务平台</title>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <script type="text/javascript" th:src="@{/bower_components/jquery/dist/jquery.min.js}"/>
    <script type="text/javascript" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">


            <a class="navbar-brand" href="/">

                <span class="navbar-head">西客站信息共享平台</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="active">概况</a></li>
                <li><a href="store/store_summary.html" >物业信息管理 </a></li>
                <li><a href="product.html"> 设施信息管理</a></li>
                <li><a href="order.html"  >业务信息管理</a></li>
                <li><a href="data.html" >基础信息管理</a></li>
                <li><a href="assets.html" >报表统计</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账户名 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出</a></li>

                    </ul>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container content">
    <div class="row">

        <div class="col-sm-12  main panel panel-default" layout:fragment="content">

        </div>
    </div>
</div>



</body>
</html>

